<html>
<head>
    <meta charset='utf-8'>
    <title>OnSolarSails administration</title>
    <%- include('includes/header.ejs') %>
</head>

<body>

<div id="midcolumn">
    <h3>Database checks</h3>
    <ul id="databaseCheckers">
        <li><button class="fetcher" name="players">Fetch Players</button></li>
        <li><button class="fetcher" name="civilizations">Fetch Civilizations</button></li>
        <li><button class="fetcher" name="planets">Fetch Planets</button></li>
        <li><button class="fetcher" name="species">Fetch Species</button></li>
    </ul><br/><br/>

    <div id="report"></div>
</div>



<script>

    $(()=>{
        $('.fetcher').on('click',(e)=>{
            let massQuery = e.target.name;
            $.ajax({
                type: 'GET',
                url: 'fetch/'+massQuery,
                success: (report) => {
                    console.log(report)
                    $('#report').html(report);
                },
                error: (err) => {
                    console.log("ERROR!");
                    if(err) console.log(err);
                }
            })
        })
    })

</script>

</body>
</html>