<html>

<head>
    <title>On Solar Sails</title>
    <%- include('includes/header.ejs') %>
</head>

<body>

<div id="midcolumn">
    <h1 id="banner">Loading...</h1>
</div>

<div id="controlbar">
    <!-- <div id="logo">
        LOGO of some sort
    </div> -->
    <div id="concernselector">
        <div class="concern" name="headquarters">H.Q.</div>
        <div class="concern" name="planets">Planets</div>
        <div class="concern" name="fleets">Fleets</div>
        <div class="concern" name="intel">Intelligence</div>
    </div>
    <div id="links">
        <a href="/logout" class="concern">Log out</a>
    </div>
</div>


<script>


const selectConcern = function(thisConcern) {
    if(thisConcern!='headquarters') {
        let actualconcern = thisConcern.target.attributes.name.value;
        thisConcern = actualconcern;
    }
    $.ajax({
        url: 'concern/'+thisConcern,
        type: 'GET',
        success: (response)=>{
            console.log(response);
            $('#midcolumn').html(response);
        },
        error: (e)=>{
            console.log(e);
        }
    });
}

$(()=>{
    $('#concernselector > .concern').on('click',selectConcern);
    selectConcern('headquarters');
});
    
</script>

</body>

</html>