<html>

<head>
    <title>On Solar Sails</title>
    <link rel="stylesheet" type="text/css" href="/clientstyle.css">
</head>

<body>
<center>
<h1>Welcome to On Solar Sails</h1>
<br/><br/>
<p align="center"><i>On Solar Sails</i> is an MMO of planetary exploration, colonisation, conquest, and discovery.  Lead your people as they take their first steps into the stars!</p>

<br/><br/>

<form action="login" method="POST">
    <table>
        <tr><th colspan="2">LOG IN</th></tr>
        <tr><td>Email address:</td><td><input name="email" type="text" /></td></tr>
        <tr><td>Password:</td><td><input name="password" type="password" /></td></tr>
        <tr><td colspan="2" align="center"><button type="submit" id="login">Log in</button></td></tr>
    </table>
</form>

<br/><i>or</i><br/><br/>

<form action="register" method="POST">
    <table>
        <tr><th colspan="2">REGISTER</th></tr>
        <tr><td>Your email:</td><td><input name="email" type="text" /></td></tr>
        <tr><td>New password:</td><td><input name="password" type="password" /></td></tr>
        <tr><td>Confirm password:</td><td><input name="passwordconfirm" type="password" /></td></tr>
        <tr><td colspan="2" align="center"><button type="submit" id="register">Register</button></td></tr>
    </table>
</form>

</center>

</body>

</html>