<h1 id="banner"><%= session.civ.government.name.full %> is going strong.</h1>

<div class="concernbody">
    <%= session.civ.government.name.full %> has influence over N planets.  Its people are known throughout the Galaxy for their wisdom and strength.<br/>
    Homeworld: <br/>
    Dominant species:<br/>
</div>
