<h1 id="banner">Your eyes and ears are telling you:</h1>

<div class="concernbody">
    Your agents have brought you information on the following planets:<br/>

(THIS WILL HAVE A LIST OF PLANETS WHERE PLAYER INTEL > 0 AND < 4)
</div>
