<h1 id="banner">Beyond the borders of your influence, you have eyes</h1>

<div class="concernbody">
    You have intelligence on the following planets outside of your sphere of influence:<br/>
</div>
