<h1 id="banner">Your civilization's influence extends over the following planets:</h1>

<div class="concernbody">
    
    <table>
        <tr>
            <th>Planet</th>
            <th>Size</th>
        </tr>
    <% data.forEach((element)=> { %>
        <tr>
            <td><%= element.name %></td>
            <td><%= element.size %></td>
        </tr>
    <% }) %>
    </table>
    
</div>
